<html>
<head>
        <meta name="twitter:card" content="summary_large_image"/>
        <meta id="discord" name="twitter:image" content="{{.file}}"/>
        <meta property="og:title" content="Go-Sharex"/>
        <meta property="og:description" content="Go-Sharex made by Voltz"/>
        <meta property="og:url" content="{{.url}}"/>
        <meta name="theme-color" content="{{.color}}"/>
</head>
</html>