<html>
<head>
    <meta name="twitter:card" content="player"/>
    <meta name="twitter:player" content="{{.file}}"/>
    <meta name="twitter:player:stream" content="{{.file}}"/>
    <meta property="og:title" content="Go-Sharex"/>
    <meta property="og:url" content="{{.url}}"/>
    <meta name="theme-color" content="{{.color}}"/>
</head>
</html>